<div class="row">

          <!-- Sidebar Widgets Column -->
          <div class="col-md-3">
            <!-- Profile Pic Well -->
            <div class="well" style="text-align: center;">
                <!-- Twitter avatar -->
                <img id="avatar" src="<%= current_user.profile_image %>" width=189 height=126></img>
                <!-- Profile stats -->
                <div id="stats" class="row" style="margin-top: 10%;">
                  <div class="col-md-4">
                    <p class="statHeader">TWEETS</p><p id="numFollowing"><%= @tweets.count %></p>
                  </div>
                  <div class="col-md-4">
                    <p class="statHeader">FOLLOWING</p><p id="numTweets"><%= current_user.twitter.friends.count %></p>
                  </div>
                  <div class="col-md-4">
                    <p class="statHeader">FOLLOWERS</p><p id="numTweets"><%= current_user.twitter.followers.count %></p>
                  </div>
                </div>

            </div>

<!-- Settings Well-->
              <div class="well text-center">
                
                <div><a href="/analytics" class="btn btn-danger btn-lg">Analytics</a></div>
              </div>

          </div>

            <!-- Tweets Column -->
            <div class="col-md-9">

                <div class="well">
                  <h1>My ParroTweets</h1>

                
                <%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-success' %>


                  <% @tweets.each do |tweet| %>
                    <% if tweet.parent_tweet_id == nil %>
                      <div class="tweet">
                     <%= tweet.body %> 
                     <div class="buttons">
                        <%= link_to 'Details', tweet, class: "btn btn-primary" %>
                         <%= link_to 'Delete', tweet, method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                     </div>

                     </div>
                    <% end %>
                  <% end %>

                </div>

            </div>


        </div>